[submodule "kokkos"]
	path = kokkos
	url = git@github.com:kokkos/kokkos.git
[submodule "wrap"]
	path = wrap
	url = git@github.com:LLNL/wrap.git
[submodule "tempi"]
	path = tempi
	url = git@github.com:cwpearson/tempi.git
[submodule "libmp"]
	path = libmp
	url = https://github.com/gpudirect/libmp.git
[submodule "libgdsync"]
	path = libgdsync
	url = https://github.com/gpudirect/libgdsync.git
